## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

In [2]:
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)

In [3]:
titanic_df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [4]:
titanic_df.shape

(891, 12)

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [18]:
# code here
import numpy as np
pclassGroup = titanic_df.groupby('Pclass')
for group in list(pclassGroup.groups.keys()):
  print(f"Pclass {group}: Average Age: {pclassGroup.get_group(group)['Age'].mean()} and total missing value {pclassGroup.get_group(group)['Age'].isna().sum()}")

Pclass 1: Average Age: 38.233440860215055 and total missing value 30
Pclass 2: Average Age: 29.87763005780347 and total missing value 11
Pclass 3: Average Age: 25.14061971830986 and total missing value 136

In [24]:
print(pclassGroup.get_group(1)['Age'].isna().sum())

30

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [28]:
# code here
for group in list(pclassGroup.groups.keys()):
  mode = pclassGroup.get_group(group)['Embarked'].mode()
  pclassGroup.get_group(group)['Embarked'].fillna(mode)
  print(f"Pclass {group}: {pclassGroup.get_group(group)['Embarked'].value_counts(ascending=True)}")

Pclass 1: Embarked
Q      2
C     85
S    127
Name: count, dtype: int64
Pclass 2: Embarked
Q      3
C     17
S    164
Name: count, dtype: int64
Pclass 3: Embarked
C     66
Q     72
S    353
Name: count, dtype: int64

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [34]:
import pandas as pd

# Assuming 'df' is your dataframe and contains the columns 'Embarked', 'Pclass', and 'Fare'

# Group by 'Embarked' and 'Pclass', then calculate the mean fare and round to 2 decimal places
average_fare = titanic_df.groupby(['Embarked', 'Pclass'])['Fare'].mean().round(2)

# Print the result
print(average_fare)

Embarked  Pclass
C         1         104.72
          2          25.36
          3          11.21
Q         1          90.00
          2          12.35
          3          11.18
S         1          70.36
          2          20.33
          3          14.64
Name: Fare, dtype: float64

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

In [35]:
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")

In [36]:
fifa_df.head(2)

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,484,419,26,10,3,17,1,3

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [54]:
# code here
def normalize(group,cols):
  for col in cols:
    std = group[col].std()
    mean = group[col].mean()
    group[f"{col}Normalize"]= (group[col]-mean)/std
  return group



cols = ['Passes','Passes Completed','Attempted Line Breaks','Completed Line Breaks']
teamGroup = fifa_df.groupby('Team')
groups = teamGroup.apply(normalize, cols=cols)
groups.groupby('Team').agg(
{
    "Passes": ["min", "max"],
    "Yellow Cards": ["min", "max", "mean"],
    "Attempted Line Breaks": ["max", "min", "std"],
    "Possession (%)": "mean"
})

ValueError: 'Team' is both an index level and a column label, which is ambiguous.

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

In [60]:
ipl = pd.read_csv('/content/ipl_deliveries.csv')

In [81]:
ipl.sample(5)

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
23873,1254107,Punjab KingsSunrisers Hyderabad,2,13,5,JO Holder,Harpreet Brar,WP Saha,NaN,0,0,0,0,0,NaN,NaN,NaN,Sunrisers Hyderabad,Punjab Kings
12834,1304067,Gujarat TitansSunrisers Hyderabad,1,2,1,Shubman Gill,B Kumar,MS Wade,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Sunrisers Hyderabad
26620,1254081,Rajasthan RoyalsMumbai Indians,1,19,1,R Parag,NM Coulter-Nile,DA Miller,NaN,4,0,4,0,0,NaN,NaN,NaN,Rajasthan Royals,Mumbai Indians
61171,1175356,Royal Challengers BangaloreChennai Super Kings,2,12,1,KM Jadhav,YS Chahal,AT Rayudu,NaN,0,0,0,0,0,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore
16850,1304051,Rajasthan RoyalsSunrisers Hyderabad,2,6,1,Abhishek Sharma,NM Coulter-Nile,AK Markram,NaN,1,0,1,0,0,NaN,NaN,NaN,Sunrisers Hyderabad,Rajasthan Royals

In [83]:
ipl['player_out'].value_counts()

player_out
S Dhawan        58
PP Shaw         54
Q de Kock       54
V Kohli         54
Shubman Gill    53
                ..
K Kartikeya      1
JL Pattinson     1
OC McCoy         1
KS Sharma        1
M Markande       1
Name: count, Length: 247, dtype: int64

###`Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [70]:
# code here
#1
df = ipl[ipl['innings']==2]
df.groupby('batter')['batsman_run'].sum().sort_values(ascending=False)

batter
KL Rahul        1198
S Dhawan        1135
DA Warner        943
F du Plessis     889
Shubman Gill     876
                ...
GC Viljoen         0
JR Philippe        0
RA Bawa            0
AS Roy             0
SS Cottrell        0
Name: batsman_run, Length: 239, dtype: int64

In [80]:
#2
tempdf=ipl[~(ipl['extra_type']=='wides')]
tempdf=tempdf.groupby('batter')
tempdf= tempdf.agg({
    'ballnumber':'count',
    'batsman_run':'sum'
})
tempdf["strike_rate"] = tempdf["batsman_run"] / tempdf["ballnumber"] * 100
tempdf[tempdf["ballnumber"] >= 100].sort_values("strike_rate", ascending = False).reset_index().head()

           batter  ballnumber  batsman_run  strike_rate
0      AD Russell         645         1149   178.139535
1       JC Archer         103          180   174.757282
2  LS Livingstone         329          549   166.869301
3       JM Sharma         143          234   163.636364
4   PBB Rajapaksa         129          206   159.689922

###`Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [84]:
# code here
ipl['isBatterOut']=ipl['batter']==ipl['player_out']
ipl.groupby(['bowler','batter']).agg({
    'isBatterOut':'sum',
    'batsman_run':'sum'
}).sort_values(by=['isBatterOut','batsman_run'],ascending=[False,True]).head()

                           isBatterOut  batsman_run
bowler         batter
YS Chahal      MA Agarwal            5           58
DL Chahar      PP Shaw               5           69
YS Chahal      Q de Kock             4           22
Mohammed Shami SO Hetmyer            4           24
Shivam Mavi    SV Samson             4           30

###`Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [86]:
# code here
# code here
def func(x):
    return '-'.join(list(np.sort(x.values)))
ipl["batter-pair"] = ipl[["batter", "non-striker"]].apply(func, axis = 1)
ipl.groupby("batter-pair")["total_run"].sum().sort_values(ascending = False).head()

batter-pair
KL Rahul-MA Agarwal      1599
PP Shaw-S Dhawan         1461
DA Warner-JM Bairstow    1401
Q de Kock-RG Sharma      1274
CH Gayle-KL Rahul        1060
Name: total_run, dtype: int64

###`Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [88]:
# code here
# code here
temp_df = ipl.groupby("batter-pair").agg(
{
    "total_run": "sum",
    "ballnumber": "count",
    "isWicketDelivery": "sum"
}).reset_index()
temp_df["Batsman 1"] = temp_df["batter-pair"].apply(lambda x: x.split("-")[0])
temp_df["Batsman 2"] = temp_df["batter-pair"].apply(lambda x: x.split("-")[1])
temp_df.rename(columns = {"total_run": "Runs"}, inplace=True)
temp_df["StrikeRate"] = temp_df["Runs"] / temp_df["ballnumber"] * 100
temp_df["Avg"] = temp_df["Runs"] / temp_df["isWicketDelivery"]
temp_df.sort_values("Runs", ascending = False, inplace=  True)
temp_df[["Batsman 1", "Batsman 2", "Runs", "Avg", "StrikeRate"]]

/usr/local/lib/python3.10/dist-packages/pandas/core/nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

       Batsman 1     Batsman 2  Runs        Avg  StrikeRate
787     KL Rahul    MA Agarwal  1599  57.107143  139.772727
1058     PP Shaw      S Dhawan  1461  33.204545  141.159420
389    DA Warner   JM Bairstow  1401  53.884615  144.284243
1067   Q de Kock     RG Sharma  1274  33.526316  130.532787
304     CH Gayle      KL Rahul  1060  46.086957  131.188119
...          ...           ...   ...        ...         ...
437     DJ Hooda  PVD Chameera     0   0.000000    0.000000
910   MJ Santner        MM Ali     0   0.000000    0.000000
222   Avesh Khan  S Lamichhane     0   0.000000    0.000000
732   KA Pollard      M Jansen     0   0.000000    0.000000
1031    OF Smith     RD Chahar     0   0.000000    0.000000

[1239 rows x 5 columns]