Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

Given List:

list1 = ["M", "na", "i", "Kh"]

list2 = ["y", "me", "s", "an"]

Output:

[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]

In [1]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
list3=list(zip(list1,list2))
print(list3)

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]

In [2]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
[[i,j] for (i,j) in zip(list1,list2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

Problem 2: Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

Output:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [3]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Problem 3: Update no of items available
Suppose you are given a list of candy and another list of same size representing no of items of respective candy.


i.e -

candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']

no_of_items = [10,20,34,74,32]

Write a program to show no. of items of each candy type.


Output:


Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

In [4]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
for i in range(len(candy_list)):
    print(f"{candy_list[i]}: {no_of_items[i]}")

Jelly Belly: 10
Kit Kat: 20
Double Bubble: 34
Milky Way: 74
Three Musketeers: 32

In [5]:
for i in zip(candy_list, no_of_items):
    print(i)

('Jelly Belly', 10)
('Kit Kat', 20)
('Double Bubble', 34)
('Milky Way', 74)
('Three Musketeers', 32)

Problem 4: Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

Input:

list1 = [1,2,3,4,5,6]

Output:

[1,3,6,10,15,21]

In [6]:
list1 = [1,2,3,4,5,6]
res=[]
sum=0
for i in list1:
    sum+=i
    res.append(sum)
print(res)

[1, 3, 6, 10, 15, 21]

Problem 5: You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.
i.e. Say given list is [2,4,6,10,1] resultant list will be [22,20,10,23].

For 1st element 2 ->> these are greater (4+6+10) values and 2 itself so on adding becomes 22.

For 2nd element 4 ->> greater elements are (6, 10) and 4 itself, so on adding 20

like wise for all other elememts.

[2,4,6,10,1]-->[22,20,16,10,23]

list1=[2,4,6,10,1]
list2=[]
sum=0
for i in list1:
    sum=0
    for j in list1:
        if j>=i:
            sum+=j
    list2.append(sum)
print(list2)

In [7]:
list1=[2,4,6,10,1]
list2=[]
sum=0
for i in list1:
    sum=0
    for j in list1:
        if j>=i:
            sum+=j
    list2.append(sum)
print(list2)

[22, 20, 16, 10, 23]

Problem 6: Find list of common unique items from two list. and show in increasing order
Input

num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
Output:

[34, 67, 89]

In [8]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
print(set(num1).intersection(set(num2)))

{89, 34, 67}

In [9]:
list1=[]
for i in num1:
    if i in num2:
        list1.append(i)
print(list1)

[67, 89, 34]

Problem 7: Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.
Input:

['1ac21', '23fg', '456', '098d','1','kls']

Output:

['456', '23fg', '1ac21', '1', 'kls', '098d']

In [10]:
list1=['1ac21', '23fg', '456', '098d','1','kls']
prod_value=[]
for item in list1:
    product=1
    for char in item:
        if char.isdigit():
            product=product*int(char)
    prod_value.append(product)
print(sorted(list(zip(prod_value,list1))))
[ i[1] for i in sorted(list(zip(prod_value,list1)))[::-1]]

[(0, '098d'), (1, '1'), (1, 'kls'), (2, '1ac21'), (6, '23fg'), (120, '456')]

['456', '23fg', '1ac21', 'kls', '1', '098d']

Split String of list on K character.

Example :

Input:

['CampusX is a channel', 'for data-science', 'aspirants.']

Output:

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [11]:
list1=['CampusX is a channel', 'for data-science', 'aspirants.']
list2=""
for i in list1:
    list2+=i+" "
print(list(list2.split()))

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

Problem 9: Convert Character Matrix to single String using string comprehension.

Example 1:

Input:

[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

Output:

campux is best channel

In [12]:
list1=[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
print(" ".join(["".join(i) for i in list1]))

campux is best channel

Problem 10: Add Space between Potential Words.

Example:

Input:

['campusxIs', 'bestFor', 'dataScientist']

Output:

['campusx Is', 'best For', 'data Scientist']

In [13]:
li=['campusxIs', 'bestFor', 'dataScientist']
res =""
for item in li:
    for char in item:
        if char.isupper():
            res+=" "+char
        else:
            res+=char
    res+=" "
print(res)

campusx Is best For data Scientist

Problem 11: Write a program that can perform union operation on 2 lists

Example:

Input:

[1,2,3,4,5,1]

[2,3,5,7,8]

Output:

[1,2,3,4,5,7,8]

In [14]:
li1=[1,2,3,4,5,1]
li2=[2,3,5,7,8]
print(set(li1).union(set(li2)))

{1, 2, 3, 4, 5, 7, 8}

In [15]:
union=[]
for i in li1:
    if i not in union:
        union.append(i)
for i in li2:
    if i not in union:
        union.append(i)
print(union)

[1, 2, 3, 4, 5, 7, 8]

Problem 12: Write a program that can find the max number of each row of a matrix

Example:

Input:

[[1,2,3],[4,5,6],[7,8,9]]

Output:

[3,6,9]

In [16]:
li=[[1,2,3],[4,5,6],[7,8,9]]
[max(i) for i in li]

[3, 6, 9]

Problem 13: Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [17]:
[[j+i*3 for j in range(3)] for i in range(3)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

Problem 14: Write a list comprehension that can transpose a given matrix
matrix = 
[

[1,2,3],

[4,5,6],

[7,8,9]

]

[1, 4, 7]

[2, 5, 8]

[3, 6, 9]

In [18]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
len(matrix)
[[row[i] for row in matrix]for i in range(len(matrix))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Problem 15: Write a list comprehension that can flatten a nested list
Input

matrix = [

[1,2,3],

[4,5,6],

[7,8,9]

]

Output:

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
[i for item in matrix for i in item]

[1, 2, 3, 4, 5, 6, 7, 8, 9]